version: '3.8'
services:
  # cricket-admin
  cricket-admin:
    image: cricket_admin
    container_name: cricket_admin
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3030:3030"
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '2'
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3030"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
      - VITE_API_URL=https://api.pmithrms.in.net/api/v1  # Replace with your actual API URL
